.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #00171F;
    color: white;
    padding: 50px;
    font-size: 1.0rem;
    align-items: center;
  }
